<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head(title)">
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:replace="${title}"></title>
</head>


<div th:fragment="header-menu" class="main_menu">
    <h1>About</h1>
   <ul sec:authorize="isAnonymous()">
      <li><a th:href="@{/login}">Войти</a></li>
      <li><a th:href="@{/registration}">Зарегистироваться</a></li>
   </ul>
    <ul sec:authorize="isAuthenticated()">
        <li th:text="${#authentication.getPrincipal().getUsername()}"></li>
        <li><a th:href="@{/logout}">Выйти</a></li>
    </ul>
</div>

